<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./styles.css">
    </head>
<body>
<div class="container">
    <h1>Cinema<br> Ironhack</h1>
    <button>Check the movies!</button>
</div>    
</body>    
</html>